
<div class="page-header">
	<h1>Create Event</h1>
</div>
<alert level="{{message.level}}" text="{{message.text}}"/>
<form name="form" data-ng-submit="save(item)" class="form-horizontal">

	<div class="control-group" data-ng-class="{error: errors.eventDays}">
		<label class="control-label" for="eventDays">Event Days</label>
		<div class="controls">
            

			<span class="help-inline" data-ng-show="errors.eventDays">{{errors.eventDays}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.hashTags}">
		<label class="control-label" for="hashTags">Hash Tags</label>
		<div class="controls">
            

			<span class="help-inline" data-ng-show="errors.hashTags">{{errors.hashTags}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.location}">
		<label class="control-label" for="location">Location</label>
		<div class="controls">
            

			<span class="help-inline" data-ng-show="errors.location">{{errors.location}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.name}">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
            <input type="text" id="name" name="name" data-ng-model="item.name">

			<span class="help-inline" data-ng-show="errors.name">{{errors.name}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.status}">
		<label class="control-label" for="status">Status</label>
		<div class="controls">
            <input type="number" id="status" name="status" data-ng-model="item.status" required>

			<span class="help-inline" data-ng-show="errors.status">{{errors.status}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.twitterId}">
		<label class="control-label" for="twitterId">Twitter Id</label>
		<div class="controls">
            <input type="text" id="twitterId" name="twitterId" data-ng-model="item.twitterId">

			<span class="help-inline" data-ng-show="errors.twitterId">{{errors.twitterId}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.url}">
		<label class="control-label" for="url">Url</label>
		<div class="controls">
            <input type="text" id="url" name="url" data-ng-model="item.url">

			<span class="help-inline" data-ng-show="errors.url">{{errors.url}}</span>
		</div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Create</button>
	</div>
</form>
