
<div class="page-header">
    <h1>Planner List</h1>
</div>
<alert level="{{message.level}}" text="{{message.text}}"/>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
        
            <th data-sortable="email">Email</th>
            
            <th data-sortable="firstName">First Name</th>
            
            <th data-sortable="lastName">Last Name</th>
            
            <th data-sortable="middleName">Middle Name</th>
            
            <th data-sortable="phone">Phone</th>
            
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in list" data-ng-click="show(item)">
            
            <td>{{item.email}}</td>
            
            <td>{{item.firstName}}</td>
            
            <td>{{item.lastName}}</td>
            
            <td>{{item.middleName}}</td>
            
            <td>{{item.phone}}</td>
            
        </tr>
    </tbody>
</table>
<div class="pagination pagination-centered" data-pagination data-total="total"></div>