
<div class="page-header">
	<h1>Create Presentation</h1>
</div>
<alert level="{{message.level}}" text="{{message.text}}"/>
<form name="form" data-ng-submit="save(item)" class="form-horizontal">

	<div class="control-group" data-ng-class="{error: errors.abstractText}">
		<label class="control-label" for="abstractText">Abstract Text</label>
		<div class="controls">
            <input type="text" id="abstractText" name="abstractText" data-ng-model="item.abstractText">

			<span class="help-inline" data-ng-show="errors.abstractText">{{errors.abstractText}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.files}">
		<label class="control-label" for="files">Files</label>
		<div class="controls">
            

			<span class="help-inline" data-ng-show="errors.files">{{errors.files}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.format}">
		<label class="control-label" for="format">Format</label>
		<div class="controls">
            <input type="number" id="format" name="format" data-ng-model="item.format" required>

			<span class="help-inline" data-ng-show="errors.format">{{errors.format}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.lengthMinutes}">
		<label class="control-label" for="lengthMinutes">Length Minutes</label>
		<div class="controls">
            <input type="number" id="lengthMinutes" name="lengthMinutes" data-ng-model="item.lengthMinutes" required>

			<span class="help-inline" data-ng-show="errors.lengthMinutes">{{errors.lengthMinutes}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.materialsNeeded}">
		<label class="control-label" for="materialsNeeded">Materials Needed</label>
		<div class="controls">
            <input type="text" id="materialsNeeded" name="materialsNeeded" data-ng-model="item.materialsNeeded">

			<span class="help-inline" data-ng-show="errors.materialsNeeded">{{errors.materialsNeeded}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.summary}">
		<label class="control-label" for="summary">Summary</label>
		<div class="controls">
            <input type="text" id="summary" name="summary" data-ng-model="item.summary">

			<span class="help-inline" data-ng-show="errors.summary">{{errors.summary}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.targetAudiance}">
		<label class="control-label" for="targetAudiance">Target Audiance</label>
		<div class="controls">
            <input type="text" id="targetAudiance" name="targetAudiance" data-ng-model="item.targetAudiance">

			<span class="help-inline" data-ng-show="errors.targetAudiance">{{errors.targetAudiance}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.title}">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
            <input type="text" id="title" name="title" data-ng-model="item.title">

			<span class="help-inline" data-ng-show="errors.title">{{errors.title}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.videos}">
		<label class="control-label" for="videos">Videos</label>
		<div class="controls">
            

			<span class="help-inline" data-ng-show="errors.videos">{{errors.videos}}</span>
		</div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Create</button>
	</div>
</form>
