
<div class="page-header">
    <h1>Presentation List</h1>
</div>
<alert level="{{message.level}}" text="{{message.text}}"/>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
        
            <th data-sortable="abstractText">Abstract Text</th>
            
            <th data-sortable="format">Format</th>
            
            <th data-sortable="lengthMinutes">Length Minutes</th>
            
            <th data-sortable="materialsNeeded">Materials Needed</th>
            
            <th data-sortable="summary">Summary</th>
            
            <th data-sortable="targetAudiance">Target Audiance</th>
            
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in list" data-ng-click="show(item)">
            
            <td>{{item.abstractText}}</td>
            
            <td>{{item.format}}</td>
            
            <td>{{item.lengthMinutes}}</td>
            
            <td>{{item.materialsNeeded}}</td>
            
            <td>{{item.summary}}</td>
            
            <td>{{item.targetAudiance}}</td>
            
        </tr>
    </tbody>
</table>
<div class="pagination pagination-centered" data-pagination data-total="total"></div>