
<div class="page-header">
	<h1>Create Speaker</h1>
</div>
<alert level="{{message.level}}" text="{{message.text}}"/>
<form name="form" data-ng-submit="save(item)" class="form-horizontal">

	<div class="control-group" data-ng-class="{error: errors.title}">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
            <input type="text" id="title" name="title" data-ng-model="item.title">

			<span class="help-inline" data-ng-show="errors.title">{{errors.title}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.phone}">
		<label class="control-label" for="phone">Phone</label>
		<div class="controls">
            <input type="text" id="phone" name="phone" data-ng-model="item.phone">

			<span class="help-inline" data-ng-show="errors.phone">{{errors.phone}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.twitterId}">
		<label class="control-label" for="twitterId">Twitter Id</label>
		<div class="controls">
            <input type="text" id="twitterId" name="twitterId" data-ng-model="item.twitterId">

			<span class="help-inline" data-ng-show="errors.twitterId">{{errors.twitterId}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.linkedInUrl}">
		<label class="control-label" for="linkedInUrl">Linked In Url</label>
		<div class="controls">
            <input type="text" id="linkedInUrl" name="linkedInUrl" data-ng-model="item.linkedInUrl">

			<span class="help-inline" data-ng-show="errors.linkedInUrl">{{errors.linkedInUrl}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.webUrl}">
		<label class="control-label" for="webUrl">Web Url</label>
		<div class="controls">
            <input type="text" id="webUrl" name="webUrl" data-ng-model="item.webUrl">

			<span class="help-inline" data-ng-show="errors.webUrl">{{errors.webUrl}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.company}">
		<label class="control-label" for="company">Company</label>
		<div class="controls">
            <input type="text" id="company" name="company" data-ng-model="item.company">

			<span class="help-inline" data-ng-show="errors.company">{{errors.company}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.address}">
		<label class="control-label" for="address">Address</label>
		<div class="controls">
            

			<span class="help-inline" data-ng-show="errors.address">{{errors.address}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.bios}">
		<label class="control-label" for="bios">Bios</label>
		<div class="controls">
            

			<span class="help-inline" data-ng-show="errors.bios">{{errors.bios}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.email}">
		<label class="control-label" for="email">Email</label>
		<div class="controls">
            <input type="text" id="email" name="email" data-ng-model="item.email">

			<span class="help-inline" data-ng-show="errors.email">{{errors.email}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.firstName}">
		<label class="control-label" for="firstName">First Name</label>
		<div class="controls">
            <input type="text" id="firstName" name="firstName" data-ng-model="item.firstName">

			<span class="help-inline" data-ng-show="errors.firstName">{{errors.firstName}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.lastName}">
		<label class="control-label" for="lastName">Last Name</label>
		<div class="controls">
            <input type="text" id="lastName" name="lastName" data-ng-model="item.lastName">

			<span class="help-inline" data-ng-show="errors.lastName">{{errors.lastName}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.middleName}">
		<label class="control-label" for="middleName">Middle Name</label>
		<div class="controls">
            <input type="text" id="middleName" name="middleName" data-ng-model="item.middleName">

			<span class="help-inline" data-ng-show="errors.middleName">{{errors.middleName}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.presentations}">
		<label class="control-label" for="presentations">Presentations</label>
		<div class="controls">
            

			<span class="help-inline" data-ng-show="errors.presentations">{{errors.presentations}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.videos}">
		<label class="control-label" for="videos">Videos</label>
		<div class="controls">
            

			<span class="help-inline" data-ng-show="errors.videos">{{errors.videos}}</span>
		</div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Create</button>
	</div>
</form>
